@import "setup";
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 125%;
    background-image: linear-gradient(to right top, #022946, #18324c, #283b53, #364559, #434f60, #444c5f, #464a5d, #48475b, #43374e, #40263d, #3c1429, #340213);
}

header {
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-family: 'Limelight', cursive;
    font-size: 4rem;
    padding: 5rem 1rem 3rem 1rem;
    color: #fff;
    text-shadow:
        0 0 0px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-height: calc(65vh - 3.18rem);
}

section {
    width: 100%;
}

form {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    .userSelections {
        display: flex;
        justify-content: space-evenly;
    
        input, select {
            margin: 2rem 1rem;
            padding: .5rem 1rem;
            width: 15rem;
            border-radius: 2rem;
            border: 3px solid navy;;
        }
    }
}

button {
    width: 10rem;
    letter-spacing: 3px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: .75rem 1rem;
    margin: 0 auto;
    background: none;
    border: none;
    color: aliceblue;
}

button:hover,
button:focus {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
}

.errors p {
    color: aliceblue;
    text-align: center;
}

h2 {
    font-family: 'Limelight', cursive;
    font-size: 2rem;
    margin: 3rem 0;
    color: #fff;
    text-shadow:
        0 0 0px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
}

.resultsSection {
    padding-bottom: 2rem;
}

.printMovies {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: center;
    padding-left: 0;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75rem 0.25rem;
    height: 6rem;
}

.printMovies h3 {
    font-size: 1.25rem;
    // height: 3rem;
    // margin: 1.75rem 0 1.75rem 0;
    color: aliceblue;
    vertical-align: middle;

}

.movieRatingPositioning {
    position: relative;
    margin-bottom: -.5rem;
}

.movieRatingPositioning p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid navy;
    position: absolute;
    top: -1rem;
    right: calc(100% / 2 - 1.5rem);
    font-weight: bold;
    font-size: 1.4rem;
    color: navy;
    margin: 0;
    z-index: 1;
}

.printMovies li {
    width: 30%;
    position: relative;
    list-style: none;
    margin: .5rem;
    overflow: hidden;
    border-radius: 0.25rem;
    // background-color: #364559;
}

.movieOverview {
    padding: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    transform: translateY(101%);
    transition: transform 0.5s ease; 
    max-height: 50%;
    overflow-y: scroll;
    
}

.printMovies li:hover .movieOverview{
    transform: translateY(0);
}

.backgroundStyle {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #364559;
    background-color: #94a9c3;
    opacity: 0.25;
    border-radius: 0.25rem;
    z-index: -1;
}

footer {
    min-height: 3rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #545C69;
    padding: 1rem;
    font-size: 1rem;
}

// =================================================================================
// MEDIA QUERIES
// ==================================================================================
@media (max-width: 850px) {
    .printMovies li {
        width: 45%;
        margin: 0.5rem;
    }

    .printMovies h3 {
        font-size: 1.25rem;
    }

    form {
        .userSelections {
            display: flex;
            flex-direction: column;

            input, select {
                width: 60%;
                margin: 1rem auto;
            }
        }
    }
}

@media (max-width: 468px) {
    h1 {
        font-size: 2.4rem;
    }

    form {
        .userSelections {
            input, select {
                min-width: auto;
                width: 100%;
                margin: 1rem 0;
            }
        }
    }

    .printMovies h3 {
        font-size: 1.15rem;
    }
    
    button {
        width: 100%;
        margin: 1rem auto;
    }

    .printMovies li {
        width: 100%;
        margin: 0.5rem 0;
    }
}