html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 125%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#022946), color-stop(#18324c), color-stop(#283b53), color-stop(#364559), color-stop(#434f60), color-stop(#444c5f), color-stop(#464a5d), color-stop(#48475b), color-stop(#43374e), color-stop(#40263d), color-stop(#3c1429), to(#340213));
  background-image: linear-gradient(to right top, #022946, #18324c, #283b53, #364559, #434f60, #444c5f, #464a5d, #48475b, #43374e, #40263d, #3c1429, #340213);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-family: "Limelight", cursive;
  font-size: 5rem;
  margin: 12rem 0;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff, 0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}

form {
  width: 100%;
  height: 45vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
form .userSelections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
form .userSelections input, form .userSelections select {
  margin: 2rem 1rem;
  padding: 0.5rem 1rem;
  width: 15rem;
  border-radius: 2rem;
  border: 3px solid navy;
}

button {
  width: 10rem;
  letter-spacing: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  background: none;
  border: none;
  color: aliceblue;
}

button:hover,
button:active {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff, 0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}

.errors p {
  color: aliceblue;
  text-align: center;
}

h2 {
  font-family: "Limelight", cursive;
  font-size: 2rem;
  padding: 2rem 0;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff, 0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
}

.printMovies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.printMovies h3 {
  height: 4rem;
  margin: 2rem 0;
  color: aliceblue;
}

.movieRatingPositioning {
  position: relative;
  margin-bottom: -0.5rem;
}

.movieRatingPositioning p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aliceblue;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid navy;
  position: absolute;
  top: -1rem;
  right: calc(100% / 2 - 1.5rem);
  font-weight: bold;
  font-size: 1.2rem;
  color: navy;
  margin: 0;
}

.printMovies li {
  width: 30%;
  position: relative;
  list-style: none;
  margin: 0 0.5rem;
  overflow: hidden;
}

.movieOverview {
  padding: 1.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: aliceblue;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.printMovies li:hover .movieOverview {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

footer {
  text-align: center;
  background-color: #545C69;
  padding: 1rem 0;
  font-size: 1rem;
}

@media (max-width: 850px) {
  .printMovies li {
    width: 45%;
    margin: 0 0.25rem;
  }
}
@media (max-width: 468px) {
  h1 {
    font-size: 3rem;
    margin: 6rem 0 4rem 0;
  }

  form {
    height: inherit;
  }
  form .userSelections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .userSelections input, form .userSelections select {
    width: 100%;
    margin: 1rem 0;
  }

  button {
    width: 100%;
    margin: 1rem auto;
  }

  .printMovies li {
    width: 100%;
    margin: 0;
  }
}